{% block contents %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!--
            レコードが格納されたorderby_recordsから
            レコードを1行ずつrecordに取り出す
            -->
            {% for record in object_list %}
            <!-- Post preview-->
            <div class="post-preview">
                <!--
                urlでURLパターン'blog-detail/<int:pk>/'を生成し、
                詳細ページへのリンクを設定
                -->
                <a href="{% url "blogapp:blog_detail" record.pk %}">
                    <!-- 記事のタイトル -->
                    <h2 class="post-title">
                        <!-- titleフィールドを出力 -->
                        {{record.title}}
                    </h2>
                    <!-- 投稿記事の本文 -->
                    <h3 class="post-subtitle">
                        <!-- サブタイトルの文字サイズを14ptにする -->
                        <span style="font-size : 14pt">
                            <!--
                            content フィールドを出力
                            truncatecharsで出力する文字数を50以内に制限
                            -->
                            {{record.content|truncatechars:50}}
                        </span>
                    <h3/>
                </a>
                <!-- 投稿日時とカテゴリ -->
                <p class="post-meta">
                <span style="font-size : 14pt">
                    {% comment %} <!-- ページの最上部にリンクする -->
                    <a href="#">Django's Blog</a> {% endcomment %}
                    <!-- 投稿したユーザー名を出力 -->
                    <a href="{% url 'blogapp:bloguser_list' user=record.user.id %}">
                        <small class="text-muted">
                        {{record.user.username}}</small></a>

                    <!-- posted_at フィールドを出力 -->
                    {{record.posted_at}}に投稿/カテゴリ:

                    <!-- category フィールドを出力 -->
                    <a href="#">
                    {{record.category}}</a>

                </p>
            </div>

            <!-- Divider -->
            <hr class="my-4" />

            <!-- for -->
            {% endfor %}


            <!-- Post preview -->
                <!-- コード削除 -->
            <!-- Divider -->
                <!-- コード削除 -->

            <!-- Post preview -->
                <!-- コード削除 -->
            <!-- Divider -->
                <!-- コード削除 -->

            <!-- Post preview -->
                <!-- コード削除 -->
            <!-- Divider -->
                <!-- コード削除 -->

            <!-- Pager-->
            <!-- ページネーションが組み込まれたテンプレートの読み込み -->
            {% comment %} {% include "pagination.html" %} {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}